{% extends "issuetemp/base.html" %}
{% block content %}

<div class="">
    {% if user.is_authenticated %}
        {% for issue in issue %}
                <div class="">
                    <h1>{{ issue.title }}</h1>
                    <b><p>{{issue.text}}</p></b>
                    {% if issue.approved_day %}
                        <div class="">
                            {{ issue.approved_day }}
                        </div>
                    {% endif %}
                    <p>{{ issue.author }}</p>
                </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}